# Ignore bundler config and gems
.bundle
vendor/gems/*
!vendor/gems/cache/

# Ignore dev-specific files
.DS_Store
.idea
.byebug_history

# Ignore all logfiles and tempfiles.
log
tmp

# Ignore docs
.yardoc
_yardoc
doc

# Ignore packages
pkg/
*.gem

# Ignore test artifacts
coverage
spec/reports
spec/tmp
spec/dummy/apps/auth
spec/dummy/db/*.sqlite
.rspec_status

# Ignore Gemfile.lock
Gemfile.lock
